body{
    background: rgb(0, 0, 0);
/*     background-image: radial-gradient(circle at 50% -20.71%, #000000 0, #081a78 25%, #082153 50%, #0b1b31 75%, #1b325b 100%);
 */}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 0;
    width: 100%;

    .logo{
        margin-left:2rem;
        width: 140px;
    }

    nav{
        .nav-link{
            color: rgb(2, 28, 99);
            font-size: .8rem;
            margin-left: 1rem;

            @media (min-width:992px) {
                font-size: 1.2rem;
            }
        }
        .navbar-nav {
            li{
                border-bottom:1px outset rgb(4, 56, 147);

                @media (min-width:992px) {
                    border: none;
                }
            }
            a{
                color: rgb(4, 1, 39);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-top: .5rem;
                &:hover{
                    color: rgba(52, 86, 158, 0.989);
                    text-decoration: underline;
                    filter: drop-shadow(5px 5px 10px rgb(4, 250, 238));
                }
            }    
        }
    }
    .bg-body-tertiary{
        background: none !important;
    }
}
main{
    @media (min-width:992px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 8rem 2rem;
    }
    @media (min-width:1440px){
        padding: 6rem;
    }
    
    .name{
        text-align: center;
        color: rgb(230, 210, 210);
        padding-top:7rem;
        span{
            text-align: center;
            font-size: 5rem;
            margin: -.2rem;
            font-family: 'Russo One', sans-serif;

            @media (min-width:992px){
                font-size: 8rem;
            }
        }
    }
    .apellido{
        margin-top:-2.5rem;
        text-align: center;
        color: rgb(146, 143, 143);
        span{
            text-align: center;
            font-size:4.5rem;
            margin: -0.2rem;
            font-family: 'Russo One', sans-serif;

            @media (min-width:992px){
                font-size: 8rem;
            }
        }
        @media (min-width:992px){
            margin-top: -6rem;
        }
    }
    h1{
        text-align: center;
        font-size: 1.3rem;
        color: #ffffff;

        @media (min-width:992px){
            font-size: 2rem;
        }
    }    
    .number{
            color: #ffffff;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    .precentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-top: 4rem;

        img{
            border-radius: 2% 28% 2% 35%;
            width: 265px;
            height: 330px;

            @media (min-width:992px){
                width:365px;
                height: 450px;
            }
        }
        .text{
            margin: 2rem;
            color: rgb(244, 241, 241);
            padding: 2rem;
            background: rgba(175, 175, 185, 0.193);
            box-shadow: 1px 5px 23px rgb(12, 121, 222);
            /* margin-top: 9rem; */

            h2{
                font-size: 2rem;
                @media (min-width:992px){
                    font-size: 3rem;
                }
            }
            p{
                text-align: center;
                font-size: 1rem;
                padding-top: 1rem;
                color: rgba(184, 180, 180, 0.918);

                @media (min-width:992px){
                    font-size: 1.5rem;
                }
            }
        }
    }
}
.sep1{
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    margin:5rem 0;
}
.sep2{
    width: 100%;
    height: 3px;
    background: rgba(8, 65, 135, 0.606);
    margin:1rem 0;
}
.formacion{
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.776);
    margin: auto;
    .grilla{
        @media (min-width:1240px){
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    img{
        width: 100px;
    }
    h3{
        font-size: 2rem;
        padding-bottom: 1rem;
        font-family: 'Russo One', sans-serif;
        padding-top: 2rem;

        @media (min-width:992px){
            font-size: 3rem;
        }
    }
    h4{
        font-size:1.2rem;
        font-family: 'Russo One', sans-serif;
        margin: 2rem 0;
        margin-top: 7rem;

        @media (min-width:992px){
            font-size: 3rem;
        }
    }
    h5{
        font-size: 1.5rem;
        margin: 2rem 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        @media (min-width:992px){
            font-size: 2rem;
        }
    }
    p{  
        padding: 1rem;
        font-size: 1rem;
        box-shadow: 3px 5px 23px rgba(2, 38, 95, 0.517);
        margin: 2rem auto;

        @media (min-width:768px){
            font-size: 1.2rem;
            max-width:67%;
            padding: 4rem;
        }

        @media (min-width:992px){
            font-size: 1.5rem;
            max-width:65%;
            padding: 4rem;
        }

        a{
            text-decoration: none;
            color: rgb(1, 56, 254);
        }
    }
    ol{
        box-shadow: 3px 5px 23px rgba(2, 38, 95, 0.517);
        padding: 2rem;
        
        @media (min-width:992px){
            margin: 0 7rem;
        }

        li{
            padding: 1rem;
            margin:0.5rem;
            font-size: 1rem;
            background: rgba(255, 255, 255, 0.267);
            border-radius: 30px;

            @media (min-width:992px){
                font-size: 1.4rem;
                padding:3rem;
                margin:2rem;
            }
        }
    }
}
.proyectos{
    padding-top:3rem;
    
    h2{
        text-align: center;
        font-size: 3rem;
        color: #ffffff;
        margin-bottom: 3rem;
        @media (min-width:992px){
            font-size: 5rem;;
        }
    }
    .proyectos__imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3{
            margin-top: 3rem;
            color: #ffffff;
            font-size: 1.4rem;
        }
        
        h4{
            color: #ffffff;
            font-size: 1.4rem;
            margin-bottom: 3rem;
        }
        img{
            margin: 0.5rem;
            width: 315px;
            height: auto;

            @media (min-width:765px){
                width: 720px;
            }
            @media (min-width:992px){
                width: 970px;
            }
        }
        button{
            color: #1b325b;
            background: #ffffff;
            margin-bottom: 2rem;
            border-radius: 50px;

            &:hover{
                background: #1b325b;
                scale: 1.1;
                color: #ffffff;
            }
            
            a{
                font-size: 1rem;
                text-decoration: none;
                padding: 0.3rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
}
.certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(228, 223, 223);
    text-align: center;

    h2{
        font-size: 3rem;
        margin:2rem 0;
    }
    h5{
        font-size: 1.4rem;
        margin: 2rem 0;

        @media (min-width:992px){
            font-size: 2.5rem;
        }
    }
    img{
        margin: 0.5rem;
        width: 315px;

        @media (min-width:765px){
            width: 600px;
        }
    }
}
footer{
    .redes{
        text-align: center;
        h2{
            color: rgb(255, 255, 255);
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        img{
            margin: 1rem;
            justify-content: space-evenly;
            width: 55px;
        }
    }
    h6{
        color: white;
        font-size: 1rem;
        text-align: center;
    }
    p{
        color: rgb(158, 154, 154);
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}
